th:nth-child(1),
td:nth-child(1) {
  /* width: 200px; */
  display: none;
}
caption {
  letter-spacing: 0.03em;
  text-align: left;
  font-size: 14pt;
  font-weight: 500;
  color: #377a94;
  height: 26pt;
}

select,
option {
  font-family: "Roboto_Mono";
}

caption.inactive__caption {
  color: #91b1c4;
}

.inactive__table {
  th {
    background-color: #91b1c4;
    background-color: #b4d9df;
    color: #f2f2f2;
  }
  td {
    color: #f2f2f2;
    color: #e0e0e0;
  }
  input {
    cursor: pointer;
    border-color: #e0e0e0;
  }
  .title__wrapper {
    background-color: #b4d9df;
  }
}

.inactive__div {
  .title__wrapper {
    background-color: #b4d9df;
    border-color: #b4d9df;
  }
  select,
  input {
    border-color: #b4d9df;
    background-color: #f0f0f0;
    color: #a0a0a0;
  }
}
.button-container tbody {
  height: 300px;
}

.sub__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__wrapper:nth-child(1) {
  margin-top: 10px;
}

#after_press_dies__table {
  th:nth-child(2),
  td:nth-child(2) {
    width: 60px;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 200px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 35px;
  }
  td:nth-child(4) {
    text-align: center;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 35px;
  }
  td:nth-child(5) {
    text-align: right;
  }
  th:nth-child(6),
  td:nth-child(6) {
    width: 40px;
  }
  td:nth-child(6) {
    text-align: center;
  }
  th:nth-child(7),
  td:nth-child(7) {
    width: 55px;
  }
}
#washing_dies__table {
  th:nth-child(2),
  td:nth-child(2) {
    display: none;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 200px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 35px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 60px;
  }
}
#racking_dies__table {
  th:nth-child(2),
  td:nth-child(2) {
    display: none;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 200px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 60px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 60px;
  }
}

#right-arrow__img {
  width: 32px;
  height: 32px;
  margin-bottom: 130px;
}

#arrow-img__wrapper {
  display: flex;
  align-items: center;
}
