main {
  margin-top: 50px;
}

div.button-container {
  width: 1250px;
}

caption {
  letter-spacing: 0.03em;
  text-align: left;
  font-size: 14pt;
  font-weight: 500;
  color: #377a94;
  height: 26pt;
}

textarea {
  width: 176px;
}

input:focus {
  background-color: #fffaad;
}

.arrow-img__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  img {
    width: 32px;
    height: 32px;
    /* margin-bottom: 50px; */
    cursor: pointer;
  }
}

.left-arrow__img {
  transform: rotate(180deg);
}

#wash-arrow-inner__wrapper {
  height: 180px;
}

.sub__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgb(180, 217, 223);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 50px;
}

.sub__wrapper.inactive__div {
  border-color: rgb(205, 231, 234);
}

.inactive__div {
  caption {
    color: #91b1c4;
  }
  th {
    background-color: #b4d9df;
    color: #f2f2f2;
  }
  td {
    color: #e0e0e0;
  }
  .title__wrapper {
    background-color: #b4d9df;
    border-color: #b4d9df;
  }
  select,
  input,
  textarea,
  label {
    border-color: #b4d9df;
    background-color: #f0f0f0;
    color: #a0a0a0;
    /* font-size: 14pt; */
  }
}

.caption__div {
  letter-spacing: 0.03em;
  text-align: left;
  font-size: 14pt;
  font-weight: 500;
  color: #377a94;
  height: 26pt;
}

#fileInput__input {
  display: none;
}

label {
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: solid 1px #377a94;
  width: 180px;
  height: 25px;
  font-size: 12pt;
}

.picture__wrapper {
  width: 500px;
}

/* table */
tbody {
  height: 300px;
}
.after_press_dies__table {
  th:nth-child(2),
  td:nth-child(2) {
    width: 60px;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 200px;
  }

  th:nth-child(4),
  td:nth-child(4) {
    width: 39px;
    padding: 0;
  }
  td:nth-child(4) {
    text-align: center;
    font-family: "Yu Gothic";
    font-size: 14pt;
    /* padding: 0; */
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 35px;
  }
  td:nth-child(5) {
    text-align: right;
  }
  th:nth-child(6),
  td:nth-child(6) {
    width: 40px;
  }
  td:nth-child(6) {
    text-align: center;
  }
  th:nth-child(7),
  td:nth-child(7) {
    width: 65px;
  }
  th:nth-child(8),
  td:nth-child(8) {
    display: none;
  }
}

.washing-dies__table {
  th:nth-child(2),
  td:nth-child(2) {
    display: none;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 200px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 35px;
  }
  td:nth-child(4) {
    text-align: center;
  }

  th:nth-child(5),
  td:nth-child(5) {
    width: 60px;
  }
}

.racking-dies__table {
  th:nth-child(2),
  td:nth-child(2) {
    display: none;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 200px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 60px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 60px;
  }
}

.all-dies__table {
  th:nth-child(2),
  td:nth-child(2) {
    width: 200px;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 40px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 95px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 150px;
  }
  th:nth-child(6),
  td:nth-child(6) {
    width: 95px;
  }
  th:nth-child(7),
  td:nth-child(7) {
    display: none;
  }
}

.dies-history__table {
  th:nth-child(2),
  td:nth-child(2) {
    width: 170px;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 150px;
  }
}

.nitriding__table {
  th:nth-child(2),
  td:nth-child(2) {
    width: 180px;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 65px;
  }
  td:nth-child(3) {
    text-align: right;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 105px;
  }
  td:nth-child(4) {
    text-align: right;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 110px;
  }
  td:nth-child(5) {
    text-align: right;
  }
  th:nth-child(6),
  td:nth-child(6) {
    width: 110px;
  }
  td:nth-child(6) {
    text-align: right;
  }
  th:nth-child(7),
  td:nth-child(7) {
    width: 80px;
  }
  td:nth-child(7) {
    text-align: right;
  }
}

.nitriding-history__table {
  th:nth-child(2),
  td:nth-child(2) {
    width: 120px;
    /* display: initial; */
  }
  td:nth-child(2) {
    text-align: center;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 120px;
  }
  td:nth-child(3) {
    text-align: right;
  }
}

.all-nitriding-record__table {
  th:nth-child(2),
  td:nth-child(2) {
    width: 180px;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 150px;
  }
  td:nth-child(3) {
    text-align: right;
  }
}

.washing-dies-2__table {
  th:nth-child(2),
  td:nth-child(2) {
    display: none;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 200px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 48px;
  }
  td:nth-child(4) {
    text-align: center;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 60px;
  }
  td:nth-child(5) {
    text-align: center;
  }
}

.fixing-die__table {
  th:nth-child(2),
  td:nth-child(2) {
    width: 200px;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 100px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 150px;
  }
}

table .redHighlight {
  color: red;
}

th.sortActive {
  color: #ffddae;
  /* color: #000000; */
}

.radio__button button {
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

#radio__button button {
  background-color: #b4d9df;
  .active__btn {
    background-color: #377a94;
  }
}

#radio__button button.active__btn {
  background-color: #377a94;
}

.fix-input__div {
  .title__wrapper {
    width: 130px;
  }
  input {
    width: 129px;
  }
  select {
    width: 131px;
  }
  label {
    width: 130px;
  }
  textarea {
    width: 127px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  place-items: center;
}

.grid-container img {
  width: 230px;
  height: 210px;
  object-fit: contain;
}

.picture__div {
  height: 450px;
  overflow-y: auto;
}

/* modal window */
#modal,
#history-modal {
  width: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#modal img,
#history-modal img {
  max-width: 100%;
  /* height: auto; */
  max-height: 800px;
}

.modal-button__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#delete-confirm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
