main {
  margin-top: 50px;
}

div.button-container {
  width: 1250px;
}

caption {
  letter-spacing: 0.03em;
  text-align: left;
  font-size: 14pt;
  font-weight: 500;
  color: #377a94;
  height: 26pt;
}

textarea {
  width: 176px;
}

input:focus {
  background-color: #fffaad;
}

.arrow-img__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  img {
    width: 32px;
    height: 32px;
    /* margin-bottom: 50px; */
    cursor: pointer;
  }
}

.left-arrow__img {
  transform: rotate(180deg);
}

.sub__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgb(180, 217, 223);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 50px;
}

.sub__wrapper.inactive__div {
  border-color: rgb(205, 231, 234);
}

.inactive__div {
  caption {
    color: #91b1c4;
  }
  th {
    background-color: #b4d9df;
    color: #f2f2f2;
  }
  td {
    color: #e0e0e0;
  }
  .title__wrapper {
    background-color: #b4d9df;
    border-color: #b4d9df;
  }
  select,
  input,
  textarea,
  label {
    border-color: #b4d9df;
    background-color: #f0f0f0;
    color: #a0a0a0;
    /* font-size: 14pt; */
  }
}

.caption__div {
  letter-spacing: 0.03em;
  text-align: left;
  font-size: 14pt;
  font-weight: 500;
  color: #377a94;
  height: 26pt;
}

#fileInput__input {
  display: none;
}

label {
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: solid 1px #377a94;
  width: 180px;
  height: 25px;
  font-size: 12pt;
}

.picture__wrapper {
  width: 500px;
}

/* table */
tbody {
  height: 300px;
}
.after_press_dies__table {
  th:nth-child(2),
  td:nth-child(2) {
    width: 60px;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 200px;
  }

  th:nth-child(4),
  td:nth-child(4) {
    width: 39px;
    padding: 0;
  }
  td:nth-child(4) {
    text-align: center;
    font-family: "Yu Gothic";
    font-size: 14pt;
    /* padding: 0; */
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 35px;
  }
  td:nth-child(5) {
    text-align: right;
  }
  th:nth-child(6),
  td:nth-child(6) {
    width: 40px;
  }
  td:nth-child(6) {
    text-align: center;
  }
  th:nth-child(7),
  td:nth-child(7) {
    width: 65px;
  }
  th:nth-child(8),
  td:nth-child(8) {
    display: none;
  }
}

.washing-dies__table {
  th:nth-child(2),
  td:nth-child(2) {
    display: none;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 200px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 35px;
  }
  td:nth-child(4) {
    text-align: center;
  }

  th:nth-child(5),
  td:nth-child(5) {
    width: 60px;
  }
}

.racking-dies__table {
  th:nth-child(2),
  td:nth-child(2) {
    display: none;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 200px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 60px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 60px;
  }
}

.all-dies__table {
  th:nth-child(2),
  td:nth-child(2) {
    width: 200px;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 40px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 95px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 150px;
  }
  th:nth-child(6),
  td:nth-child(6) {
    width: 95px;
  }
  th:nth-child(7),
  td:nth-child(7) {
    display: none;
  }
}

.dies-history__table {
  th:nth-child(2),
  td:nth-child(2) {
    width: 170px;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 150px;
  }
}

.nitriding__table {
  th:nth-child(2),
  td:nth-child(2) {
    width: 180px;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 65px;
  }
  td:nth-child(3) {
    text-align: right;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 105px;
  }
  td:nth-child(4) {
    text-align: right;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 110px;
  }
  td:nth-child(5) {
    text-align: right;
  }
  th:nth-child(6),
  td:nth-child(6) {
    width: 110px;
  }
  td:nth-child(6) {
    text-align: right;
  }
  th:nth-child(7),
  td:nth-child(7) {
    width: 80px;
  }
  td:nth-child(7) {
    text-align: right;
  }
}

.nitriding-history__table {
  th:nth-child(2),
  td:nth-child(2) {
    width: 120px;
    /* display: initial; */
  }
  td:nth-child(2) {
    text-align: center;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 120px;
  }
  td:nth-child(3) {
    text-align: right;
  }
}

.all-nitriding-record__table {
  th:nth-child(2),
  td:nth-child(2) {
    width: 180px;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 150px;
  }
  td:nth-child(3) {
    text-align: right;
  }
}

table .redHighlight {
  color: red;
}

th.sortActive {
  color: #ffddae;
  /* color: #000000; */
}
