th:nth-child(1),
td:nth-child(1) {
  /* width: 200px; */
  display: none;
}
caption,
.caption__div {
  letter-spacing: 0.03em;
  text-align: left;
  font-size: 14pt;
  font-weight: 500;
  color: #377a94;
  height: 26pt;
}

select,
option {
  font-family: "Roboto_Mono";
}

caption.inactive__caption {
  color: #91b1c4;
}

.inactive__table {
  th {
    background-color: #91b1c4;
    background-color: #b4d9df;
    color: #f2f2f2;
  }
  td {
    color: #f2f2f2;
    color: #e0e0e0;
  }
  input {
    cursor: pointer;
    border-color: #e0e0e0;
  }
  .title__wrapper {
    background-color: #b4d9df;
  }
}

.inactive__div {
  .title__wrapper {
    background-color: #b4d9df;
    border-color: #b4d9df;
  }
  select,
  input,
  textarea {
    border-color: #b4d9df;
    background-color: #f0f0f0;
    color: #a0a0a0;
  }
}
.button-container tbody {
  height: 300px;
}

.sub__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__wrapper:nth-child(1) {
  /* margin-top: 15px; */
}

table {
  margin-bottom: 20px;
}

#after_press_dies__table {
  th:nth-child(2),
  td:nth-child(2) {
    width: 60px;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 200px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 39px;
    padding: 0;
  }
  td:nth-child(4) {
    text-align: center;
    font-family: "Yu Gothic";
    font-size: 14pt;
    /* padding: 0; */
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 35px;
  }
  td:nth-child(5) {
    text-align: right;
  }
  th:nth-child(6),
  td:nth-child(6) {
    width: 40px;
  }
  td:nth-child(6) {
    text-align: center;
  }
  th:nth-child(7),
  td:nth-child(7) {
    width: 55px;
  }
}
#washing_dies__table {
  th:nth-child(2),
  td:nth-child(2) {
    display: none;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 200px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 35px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 60px;
  }
}
#racking_dies__table {
  th:nth-child(2),
  td:nth-child(2) {
    display: none;
  }
  th:nth-child(3),
  td:nth-child(3) {
    width: 200px;
  }
  th:nth-child(4),
  td:nth-child(4) {
    width: 60px;
  }
  th:nth-child(5),
  td:nth-child(5) {
    width: 60px;
  }
}

#right-arrow__img {
  width: 32px;
  height: 32px;
  margin-bottom: 50px;
  cursor: pointer;
}

#left-arrow__img {
  transform: rotate(180deg);
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.arrow-img__wrapper {
  display: flex;
  align-items: center;
  div {
    display: flex;
    flex-direction: column;
    padding-bottom: 160px;
  }
}

/* .caption__div {
} */
.die-fix__wrapper {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 5px solid rgb(180, 217, 223);
  border-radius: 5px;
}

.radio__button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sub__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.die-fix__wrapper button {
  margin-left: 20px;
  margin-right: 20px;
  height: 40px;
  width: 140px;
}

#fileInput__input {
  display: none;
}
#fileInput__input + label {
  background-color: white;
  display: inline-block;
  cursor: pointer;
  border: solid 1px #377a94;
  width: 150px;
  height: 25px;
  font-size: 12pt;
}

.die-fix__wrapper .input__wrapper {
  margin-left: 10px;
  margin-right: 10px;
  .title__wrapper {
    width: 150px;
  }
  input {
    width: 150px;
  }
}

#fixing-date__input {
  width: 149px;
}

/* #note__input {
  text-align: left;
} */

textarea {
  width: 176px;
  border: 1px solid #377a94;
}

#fix-die__list {
  width: 300px;
}

#all-dies__table {
  th:nth-child(2),
  td:nth-child(2) {
    width: 200px;
  }
}
